<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ninja.cricks"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="ninja.cricks.NinjaApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_app"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,MissingDefaultResource"
        tools:replace="android:icon,android:theme">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/teamname_border" />

        <activity android:name=".ui.login.PhoneLoginActivity"></activity>
        <activity android:name=".ui.login.PhoneNumberActivity" />
        <activity
            android:name="ninja.cricks.SplashScreenActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="ninja11" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ninja11.app.link"
                    android:scheme="https" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="ninja11-alternate.app.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="ninja.cricks.ui.login.LoginScreenActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/screen_name_login"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.ui.login.RegisterScreenActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/screen_name_register"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dashboard_theme" />

        <activity
            android:name="ninja.cricks.ContestActivity"
            android:label="@string/activity_type_contest"
            android:screenOrientation="portrait" />
        <activity
            android:name="ninja.cricks.MaintainanceActivity"
            android:label="@string/activity_type_contest"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.QuizContestActivity"
            android:label="@string/activity_type_contest"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.CreateTeamActivity"
            android:label="@string/activity_type_create_team"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.TeamPreviewActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.NotificationListActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.SaveTeamActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.SelectTeamActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.MyBalanceActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.AddMoneyActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.UpdateApplicationActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />

        <activity
            android:name="ninja.cricks.WebActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.LeadersBoardActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.MoreContestActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.InviteFriendsActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.SupportActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.FullScreenImageViewActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.VerifyDocumentsActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.WithdrawAmountsActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.DocumentsListActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.MyTransactionHistoryActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.EditProfileActivity"
            android:label="Update Profile"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.ChangePasswordActivity"
            android:label="Change Password"
            android:screenOrientation="portrait" />
        <activity
            android:name="ninja.cricks.RefferalFriendsListActivity"
            android:label="Update Profile"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.OtpVerifyActivity"
            android:label="Update Profile"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.ui.JoinContestActivity"
            android:label="Join Contest"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.OfferActivity"
            android:label="Latest Offers"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.ContestLeaderBoardActivity"
            android:label="Contest LeaderBoard"
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.ViewUserDetailActivity"
            android:label="User Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewTeamLeaderActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayerInfoActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaytmWithdrawActivity"
            android:label=""
            android:screenOrientation="portrait" />

        <activity
            android:name="ninja.cricks.PlayerStatsInfoActivity"
            android:label=""
            android:screenOrientation="portrait" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service
            android:name="ninja.cricks.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/accent_material_light" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <meta-data
            android:name="fontProviderRequests"
            android:value="Noto Color Emoji Compat" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/razorpay_key" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />

        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_kmLX9H0wFiENeUk9LH5cecnkBAoH4Qjv" />
        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />
    </application>

</manifest>